:root {
  --rem: 2vw;
  --transition: all ease-in-out 200ms;

  @media (min-width: 1000px) {
    --rem: 20px;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  &[tabindex='0'] {
    transition: var(--transition);
    cursor: pointer;
  }
}

html {
  font-size: var(--rem);
  font-family: sans-serif;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}